  <div class="splash-screen" [hidden]="!showSplash">
    <img src="logo.ico.png" alt="Logo" class="logo-animation" />
  </div>
  <header [hidden]="showSplash">
    <button class="menu-toggle" (click)="toggleMenu()"> &#9776; </button>
    <nav [ngClass]="{'active': menuOpen}">
      <a href="#basic-data" (click)="closeMenu()">{{getTranslationText('aboutMe')}}</a>
      <a href="#skills-informations" (click)="closeMenu()">{{getTranslationText('skills')}}</a>
      <a href="#projects-informations" (click)="closeMenu()">{{getTranslationText('projects')}}</a>
      <a href="#contact" (click)="closeMenu()">{{getTranslationText('contact')}}</a>
    </nav>
    <div class="language-container"> 
      <button (click)="setLanguage('pt-br')" [ngClass]="{'language-set': language === 'pt-br'}">
        <img src="images/brazil.png" alt="Brazil">
      </button>
      <button (click)="setLanguage('en-us')" [ngClass]="{'language-set': language === 'en-us'}">
        <img src="images/eua.png" alt="EUA">
      </button>
      <button (click)="setLanguage('es-es')" [ngClass]="{'language-set': language === 'es-es'}">
        <img src="images/spain.png" alt="Spain">
      </button>
    </div>
  </header>
<main id="main-container" (click)="isMobile() && menuOpen ? closeMenu() : null" [hidden]="showSplash">
  <div id="basic-data">
    <h3>{{getTranslationText('developerFullStack')}}</h3>
    <h1>Gustavo Vilaronga</h1>
    <ul class="social-media"> 
      <li style="--i:#2087c4;--j:#5ee3d4"
        (click)="redirectSocialMedias('https://www.linkedin.com/in/gustavo-negr%C3%A3o')">
        <span><i class="fa-brands fa-linkedin-in"></i></span>
        <span class="title">Linkedin</span>
      </li>
      <li style="--i:#3878fa;--j:#281a77" (click)="redirectSocialMedias('https://github.com/Gug4negrao')">
        <span><i class="fa-brands fa-github"></i></span>
        <span class="title">GitHub</span>
      </li>
      <li style="--i:#e92a2a;--j:#490404"
        (click)="redirectSocialMedias('mailto:guieguganegrao@gmail.com?subject=Contato&body=Olá, Gustavo! Gostaria de saber mais!')">
        <span><i class="fa-regular fa-envelope"></i></span>
        <span class="title">Gmail</span>
      </li>
      <li style="--i:#a94ce7;--j:#490404"
        (click)="redirectSocialMedias('https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDU3OTIzNjQyMjc2MDY2?story_media_id=3620401359884044203_8015582216&igsh=OHc5aTV0c3F0anR0')">
        <span><i class="fa-brands fa-instagram"></i></span>
        <span class="title">Instagram</span>
      </li>
    </ul>
  </div>
  <div id="personal-informations">
    <div id="background-art" class="primary-width">
      <div class="images">
        <div class="card">
          <img src="images/picture1.png" id="picture1" />
        </div>
        <div class="card">
          <img src="images/picture2.png" id="picture2" />
        </div>
        <div class="card">
          <img src="images/picture3.png" id="picture3" />
        </div>
      </div>
      <div class="text">
        <h2>{{getTranslationText('aboutMe')}}</h2>
        <hr>
        <p>{{getTranslationText('textParagraph1')}}</p>
        <p>{{getTranslationText('textParagraph2')}}</p>
      </div>
    </div>
  </div>
  <div id="skills-informations">
    <h2>{{getTranslationText('skills')}}</h2>
    <div class="skills_container primary-width">
      <a class="skill" *ngFor="let skill of skills" [href]="skill.docLink" target="_blank">
      <span>{{ skill.name }}</span>
      <img [src]="skill.icon" [alt]="skill.name + ' icon'" class="skill-icon" />
    </a>
    </div>
  </div>
  <div id="projects-informations">
    <h2>{{getTranslationText('projects')}}</h2>
    <div class="projects_container">
      <div class="project primary-width" *ngFor="let project of projects">
        <div class="project_title">{{project.name}}</div>
        <div class="project_subtitle">{{getTranslationText(project.description)}}</div>
        <div class="project_actions" *ngIf="project.gitHubLink || project.staticLink">
            <button class="project_action" *ngIf="project.gitHubLink" (click)="redirectSocialMedias(project.gitHubLink)"><i class="fa-brands fa-github"></i></button>
            <button class="project_action project_action_solid" *ngIf="project.staticLink" (click)="redirectSocialMedias(project.staticLink)">
              {{getTranslationText('visit')}}
              <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </button>
        </div>
      </div>
    </div>
  </div>
  <div id="contact">
   <div class="form-container">
     <h2>{{getTranslationText('contact')}}</h2>
     <form action="https://formsubmit.co/guieguganegrao@gmail.com" method="POST">
      <div class="input-group">
        <i class="fa-regular fa-user"></i>
        <input type="text" name="Nome" placeholder="{{getTranslationText('yourName')}}" required/>
      </div>
      <div class="input-group">
        <i class="fa-regular fa-envelope"></i>
        <input type="email" name="Email" placeholder="{{getTranslationText('yourEmail')}}" required/>
      </div>
      <div class="input-group">
        <i class="fa-regular fa-message" style="top: 26px"></i>
        <textarea name="Mensagem" placeholder="{{getTranslationText('yourMessage')}}"></textarea>
      </div>
      <input type="hidden" name="_template" value="table">
      <button type="submit">
        {{getTranslationText('send')}} <i class="fas fa-paper-plane"></i>
      </button>
     </form>
   </div>
  </div>
</main>
  <footer class="footer" [hidden]="showSplash">
    <div class="footer-container">
        <div class="footer-brand">
            <span class="logo">GV</span>
        </div>
        <ul class="footer-links">
            <li><a href="#basic-data">{{getTranslationText('aboutMe')}}</a></li>
            <li><a href="#skills-informations">{{getTranslationText('skills')}}</a></li>
            <li><a href="#projects-informations">{{getTranslationText('projects')}}</a></li>
            <li><a href="#contact">{{getTranslationText('contact')}}</a></li>
        </ul>
        <div class="footer-social">
            <a href="https://www.linkedin.com/in/gustavo-negr%C3%A3o" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/Gug4negrao" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="mailto:guieguganegrao@gmail.com?subject=Contato&body=Olá, Gustavo! Gostaria de saber mais!"><i class="fa-regular fa-envelope"></i></a>
            <a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE4MDU3OTIzNjQyMjc2MDY2?story_media_id=3620401359884044203_8015582216&igsh=OHc5aTV0c3F0anR0" target="_blank"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
    <div class="footer-bottom">&copy; 2025 Gustavo Negrão. {{getTranslationText('allRightsReserved')}}</div>
</footer>
