/* Variáveis */
:root {
  --background-light: #f8f8f8;
  --background-dark: #0a0a0a;
  --font-title: "Bebas Neue", serif;
  --font-body: "Roboto Flex", serif;
}

*{
    padding: 0px;
    margin: 0px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  scroll-behavior: smooth;
  background-image: linear-gradient(to bottom right, #030712, #19243b, #385b8d);
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

